<launch>
  <arg name="amcl" default="true" />
  <arg name="mapserver" default="true" />
  <arg name="gmapping" default="false" />
  <arg name="rviz" default="true" />

  <!-- Map Server -->
  <include if="$(arg mapserver)" file="$(find dr_2dnav)/launch/include/map_server.launch" />

  <!-- Run AMCL -->
  <include if="$(arg amcl)" file="$(find dr_2dnav)/launch/include/amcl.launch" />

  <!-- Gmapping -->
  <include if="$(arg gmapping)" file="$(find ceres_navigation)/launch/gmapping.launch" />

  <!-- Move Base Flex -->
  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen"> 
    <param name="tf_timeout" value="1.5"/>
    <param name="planner_max_retries" value="3"/>
    <rosparam file="$(find dr_2dnav)/param/mbf/planners.yaml" command="load" />
    <rosparam file="$(find dr_2dnav)/param/mbf/controllers.yaml" command="load" />
    <rosparam file="$(find dr_2dnav)/param/mbf/recovery_behaviors.yaml" command="load" />
    <rosparam file="$(find dr_2dnav)/param/mbf/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find dr_2dnav)/param/mbf/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find dr_2dnav)/param/mbf/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find dr_2dnav)/param/mbf/local_costmap_params.yaml" command="load" />
  </node>
  
  <!-- SMACH Navigation State Machine -->
  <node pkg="dr_2dnav" type="mbf_smach_droid.py" name="mbf_move_base_action" output="screen"/>
  <!--node pkg="dr_2dnav" type="mbf_state_machine.py" name="mbf_move_base_action" output="screen"/-->

  <!-- RViz with config -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find dr_2dnav)/rviz/move_base_flex.rviz" />

</launch>
