<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find dr_2dnav)/map/cityhall_outdoor_3d/cityhall_final_-9.8.yaml"/>
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find dr_2dnav)/map/cityhall_outdoor_3D/cityhall_outdoor_once.yaml"/-->
        <!--args="$(find dr_2dnav)/map/cityhall_1F/cityhall_2.yaml"/-->
        <!--args="$(find dr_2dnav)/map/KI_1F/map3.yaml"/-->
</launch>
